<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spin_award_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1959},{208,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,82}}</string>
                <key>sourceSize</key>
                <string>{208,82}</string>
            </dict>
            <key>spin_award_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1371},{95,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,74}</string>
            </dict>
            <key>spin_award_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,591},{270,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,273}}</string>
                <key>sourceSize</key>
                <string>{270,273}</string>
            </dict>
            <key>spin_back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1367},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>spin_back_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1640},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>spin_ordinary_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1177},{296,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,225}}</string>
                <key>sourceSize</key>
                <string>{296,225}</string>
            </dict>
            <key>spin_ordinary_arrow_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1679},{292,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,184}}</string>
                <key>sourceSize</key>
                <string>{292,184}</string>
            </dict>
            <key>spin_ordinary_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,587}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,587}}</string>
                <key>sourceSize</key>
                <string>{586,587}</string>
            </dict>
            <key>spin_ordinary_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1464},{159,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,152}}</string>
                <key>sourceSize</key>
                <string>{159,152}</string>
            </dict>
            <key>spin_ordinary_button_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,1706},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_ordinary_button_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,1493},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_ordinary_button_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1280},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_ordinary_button_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1067},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_ordinary_button_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,854},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_ordinary_button_effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,641},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_ordinary_button_effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,428},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_ordinary_button_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1878},{159,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,152}}</string>
                <key>sourceSize</key>
                <string>{159,152}</string>
            </dict>
            <key>spin_ordinary_button_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,866},{214,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,215}}</string>
                <key>sourceSize</key>
                <string>{214,215}</string>
            </dict>
            <key>spin_ordinary_button_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1083},{142,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,69}}</string>
                <key>sourceSize</key>
                <string>{142,69}</string>
            </dict>
            <key>spin_ordinary_decoration_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1640},{75,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,34}}</string>
                <key>sourceSize</key>
                <string>{75,34}</string>
            </dict>
            <key>spin_ordinary_decoration_1_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1640},{76,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{76,34}</string>
            </dict>
            <key>spin_ordinary_decoration_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1959},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>spin_ordinary_decoration_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1114},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>spin_ordinary_decoration_3_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1371},{73,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,79}}</string>
                <key>sourceSize</key>
                <string>{73,79}</string>
            </dict>
            <key>spin_ordinary_dial.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1177},{504,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,505}}</string>
                <key>sourceSize</key>
                <string>{504,505}</string>
            </dict>
            <key>spin_ordinary_dial_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1676},{132,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,281}}</string>
                <key>sourceSize</key>
                <string>{132,281}</string>
            </dict>
            <key>spin_ordinary_dial_shelter.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,866},{246,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,243}}</string>
                <key>sourceSize</key>
                <string>{246,243}</string>
            </dict>
            <key>spin_ordinary_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1684},{357,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,407}}</string>
                <key>sourceSize</key>
                <string>{357,407}</string>
            </dict>
            <key>spin_ordinary_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1838},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>spin_ordinary_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1475},{208,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,202}}</string>
                <key>sourceSize</key>
                <string>{208,202}</string>
            </dict>
            <key>spin_ordinary_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1983},{59,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,88}}</string>
                <key>sourceSize</key>
                <string>{59,88}</string>
            </dict>
            <key>spin_pay_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1684},{297,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,224}}</string>
                <key>sourceSize</key>
                <string>{297,224}</string>
            </dict>
            <key>spin_pay_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{583,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,584}}</string>
                <key>sourceSize</key>
                <string>{583,584}</string>
            </dict>
            <key>spin_pay_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1468},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>spin_pay_button_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,215},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_pay_button_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_pay_button_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,215},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_pay_button_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_pay_button_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1625},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_pay_button_effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1665},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_pay_button_effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1154},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>spin_pay_button_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1475},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>spin_pay_button_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1154},{215,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,215}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>spin_pay_button_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1114},{112,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,38}}</string>
                <key>sourceSize</key>
                <string>{112,38}</string>
            </dict>
            <key>spin_pay_coin_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1114},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>spin_pay_decoration_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1633},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>spin_pay_decoration_1_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1437},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>spin_pay_decoration_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1114},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>spin_pay_decoration_3_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1371},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>spin_pay_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1983},{60,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,88}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>spin_ui_title_freespin.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1983},{264,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,54}}</string>
                <key>sourceSize</key>
                <string>{264,54}</string>
            </dict>
            <key>spin_ui_word_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1083},{145,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,69}}</string>
                <key>sourceSize</key>
                <string>{145,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spin_material.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04e593331bcce0456eecf45f8582e5ca:1/1$</string>
            <key>textureFileName</key>
            <string>spin_material.png</string>
        </dict>
    </dict>
</plist>
