<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>gun_4_idle</key>
			<dict>
				<key>delay</key>
				<real>0.07500</real>
				<key>frames</key>
				<array>
					<string>gun202idle0.png</string>
					<string>gun202idle1.png</string>
					<string>gun202idle2.png</string>
					<string>gun202idle3.png</string>
					<string>gun202idle4.png</string>
					<string>gun202idle5.png</string>
					<string>gun202idle6.png</string>
					<string>gun202idle7.png</string>
					<string>gun202idle8.png</string>
					<string>gun202idle9.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
