<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,364},{1024,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{1024,384}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>bg2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{976,358}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{976,358}}</string>
                <key>sourceSize</key>
                <string>{976,472}</string>
            </dict>
            <key>bg2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{1056,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{1056,360}}</string>
                <key>sourceSize</key>
                <string>{1056,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background2.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1b327a7128b542456bcf411f48bdcb4:1/1$</string>
            <key>textureFileName</key>
            <string>background2.png</string>
        </dict>
    </dict>
</plist>
