<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CoinWin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1817},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>CoinWin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1817},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>CoinWin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1417},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>CoinWin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1484},{47,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{47,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>CoinWin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,804},{15,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{15,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>CoinWin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1545},{47,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{47,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>CoinWin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1484},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>CoinWin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1817},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>CoinWin_w_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1817},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>CoinWin_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1817},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>CoinWin_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1551},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>CoinWin_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1545},{47,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{47,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>CoinWin_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,804},{15,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{15,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>CoinWin_w_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1594},{47,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{47,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>CoinWin_w_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1618},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>CoinWin_w_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1417},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>CoinWin_w_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1417},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>EffectBullet0Explode0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1887},{138,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,114},{138,134}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet0Explode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1403},{226,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,68},{226,226}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet0Explode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{376,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,364}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet0Explode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,733},{374,364}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{374,364}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet0Explode4.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1},{376,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,364}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet0Explode5.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,804},{230,232}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,67},{230,232}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet0Explode6.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1},{262,270}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,45},{262,270}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet0Explode7.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1099},{302,310}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{302,310}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet1Explode0.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1887},{138,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,114},{138,134}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet1Explode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1593},{226,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,70},{226,222}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet1Explode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,367},{376,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,364}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet1Explode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,367},{376,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,364}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet1Explode4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,733},{376,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,364}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet1Explode5.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1036},{226,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,232}}</string>
                <key>sourceSize</key>
                <string>{230,232}</string>
            </dict>
            <key>EffectBullet1Explode6.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,273},{262,270}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,45},{262,270}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>EffectBullet1Explode7.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1289},{302,310}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{302,310}}</string>
                <key>sourceSize</key>
                <string>{376,364}</string>
            </dict>
            <key>MyBaseArrow0.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1099},{75,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{75,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1545},{73,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{73,91}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow10.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1589},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow11.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1593},{73,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow12.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1816},{69,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{69,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow13.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1482},{61,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{61,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow14.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1698},{49,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{49,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow15.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1685},{43,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{43,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow16.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1698},{49,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{49,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow17.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1417},{63,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{63,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow18.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1668},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow19.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1403},{75,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{75,91}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1743},{71,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{71,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow20.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1194},{75,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{75,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1533},{61,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{61,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow4.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1643},{53,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{53,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow5.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1631},{43,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{43,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow6.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1685},{49,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{49,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1484},{59,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{59,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1817},{67,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{67,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>MyBaseArrow9.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1496},{75,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{75,91}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>crush.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1099},{360,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,316}}</string>
                <key>sourceSize</key>
                <string>{360,316}</string>
            </dict>
            <key>im_net.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1887},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>im_net_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1631},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>net2.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,545},{257,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{257,258}}</string>
                <key>sourceSize</key>
                <string>{259,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effectIngame.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f8526c20c93b8391eea2d1948b12c61:a933047d46e112d6d689a2e848396f62:d1064a3b9a829fd39fee2957e660b35b$</string>
            <key>textureFileName</key>
            <string>effectIngame.png</string>
        </dict>
    </dict>
</plist>
