<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gun102fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1860},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,299}</string>
            </dict>
            <key>gun102fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,433},{214,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,57},{214,185}}</string>
                <key>sourceSize</key>
                <string>{216,299}</string>
            </dict>
            <key>gun102fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,649},{214,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,58},{214,183}}</string>
                <key>sourceSize</key>
                <string>{216,299}</string>
            </dict>
            <key>gun102fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1083},{214,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,51},{214,195}}</string>
                <key>sourceSize</key>
                <string>{216,299}</string>
            </dict>
            <key>gun102fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,824},{214,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{214,257}}</string>
                <key>sourceSize</key>
                <string>{216,299}</string>
            </dict>
            <key>gun102fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{214,277}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{214,277}}</string>
                <key>sourceSize</key>
                <string>{216,299}</string>
            </dict>
            <key>gun102fire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,280},{214,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{214,273}}</string>
                <key>sourceSize</key>
                <string>{216,299}</string>
            </dict>
            <key>gun102fire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,555},{214,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{214,267}}</string>
                <key>sourceSize</key>
                <string>{216,299}</string>
            </dict>
            <key>gun102fire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1599},{214,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,54},{214,191}}</string>
                <key>sourceSize</key>
                <string>{216,299}</string>
            </dict>
            <key>gun102fire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1815},{214,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,55},{214,189}}</string>
                <key>sourceSize</key>
                <string>{216,299}</string>
            </dict>
            <key>gun102idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1860},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,82},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1299},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1515},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1731},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,217},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle14.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,433},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,649},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,865},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1081},{214,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,81},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1297},{214,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,81},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1513},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle7.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1729},{214,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,81},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle8.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1},{214,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,81},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun102idle9.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,217},{214,187}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,81},{214,187}}</string>
                <key>sourceSize</key>
                <string>{216,351}</string>
            </dict>
            <key>gun104fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1493},{204,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{204,160}}</string>
                <key>sourceSize</key>
                <string>{208,220}</string>
            </dict>
            <key>gun104fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1069},{206,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{206,156}}</string>
                <key>sourceSize</key>
                <string>{208,220}</string>
            </dict>
            <key>gun104fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,849},{206,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{206,152}}</string>
                <key>sourceSize</key>
                <string>{208,220}</string>
            </dict>
            <key>gun104fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1285},{206,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,25},{206,170}}</string>
                <key>sourceSize</key>
                <string>{208,220}</string>
            </dict>
            <key>gun104fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,641},{206,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{206,178}}</string>
                <key>sourceSize</key>
                <string>{208,220}</string>
            </dict>
            <key>gun104fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,649},{204,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{204,210}}</string>
                <key>sourceSize</key>
                <string>{208,220}</string>
            </dict>
            <key>gun104fire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,865},{206,210}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{206,210}}</string>
                <key>sourceSize</key>
                <string>{208,220}</string>
            </dict>
            <key>gun104fire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,433},{206,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{206,206}}</string>
                <key>sourceSize</key>
                <string>{208,220}</string>
            </dict>
            <key>gun104fire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1077},{206,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{206,200}}</string>
                <key>sourceSize</key>
                <string>{208,220}</string>
            </dict>
            <key>gun104fire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,861},{206,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{206,198}}</string>
                <key>sourceSize</key>
                <string>{208,220}</string>
            </dict>
            <key>gun104idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1277},{204,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,50},{204,160}}</string>
                <key>sourceSize</key>
                <string>{214,260}</string>
            </dict>
            <key>gun104idle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1699},{202,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,50},{202,160}}</string>
                <key>sourceSize</key>
                <string>{214,260}</string>
            </dict>
            <key>gun104idle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1483},{202,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,50},{202,160}}</string>
                <key>sourceSize</key>
                <string>{214,260}</string>
            </dict>
            <key>gun104idle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1057},{204,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,50},{204,160}}</string>
                <key>sourceSize</key>
                <string>{214,260}</string>
            </dict>
            <key>gun104idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,849},{204,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,50},{204,160}}</string>
                <key>sourceSize</key>
                <string>{214,260}</string>
            </dict>
            <key>gun104idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1687},{202,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,50},{202,160}}</string>
                <key>sourceSize</key>
                <string>{214,260}</string>
            </dict>
            <key>gun104idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1263},{202,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,50},{202,160}}</string>
                <key>sourceSize</key>
                <string>{214,260}</string>
            </dict>
            <key>gun104idle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1055},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,50},{200,160}}</string>
                <key>sourceSize</key>
                <string>{214,260}</string>
            </dict>
            <key>gun104idle7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1467},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,50},{200,160}}</string>
                <key>sourceSize</key>
                <string>{214,260}</string>
            </dict>
            <key>gun105fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,307},{138,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{138,150}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>gun105fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1257},{128,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{128,184}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>gun105fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1914},{132,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{132,144}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>gun105fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,919},{134,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{134,146}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>gun105fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,912},{138,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{138,148}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>gun105idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,459},{138,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{138,149}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>gun105idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,460},{138,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,151}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>gun105idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,613},{138,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,151}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>gun105idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,766},{138,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,151}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>gun105idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1055},{138,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,151}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>gun105idle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,1208},{138,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,151}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>gun105idle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1361},{138,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,151}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>gun105idle7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1514},{138,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,151}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>gun105idle8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,1667},{138,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,151}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>gun105idle9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1820},{138,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,151}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>gun202fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,162}</string>
            </dict>
            <key>gun202fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1669},{151,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,162}}</string>
                <key>sourceSize</key>
                <string>{151,162}</string>
            </dict>
            <key>gun202fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,1833},{151,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{151,160}}</string>
                <key>sourceSize</key>
                <string>{151,162}</string>
            </dict>
            <key>gun202fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1443},{151,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,158}}</string>
                <key>sourceSize</key>
                <string>{151,162}</string>
            </dict>
            <key>gun202fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1603},{151,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{151,154}}</string>
                <key>sourceSize</key>
                <string>{151,162}</string>
            </dict>
            <key>gun202idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,154},{151,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,148}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>gun202idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,307},{151,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,148}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>gun202idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1},{151,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{151,146}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>gun202idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1903},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>gun202idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,460},{151,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{151,142}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>gun202idle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,613},{151,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{151,140}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>gun202idle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,307},{151,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{151,142}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>gun202idle7.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1903},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>gun202idle8.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,460},{151,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{151,146}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>gun202idle9.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,154},{151,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,148}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>gun203fire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1891},{129,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,51},{129,155}}</string>
                <key>sourceSize</key>
                <string>{147,257}</string>
            </dict>
            <key>gun203fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1083},{147,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,257}}</string>
                <key>sourceSize</key>
                <string>{147,257}</string>
            </dict>
            <key>gun203fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1342},{129,257}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{129,257}}</string>
                <key>sourceSize</key>
                <string>{147,257}</string>
            </dict>
            <key>gun203fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1601},{129,257}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{129,257}}</string>
                <key>sourceSize</key>
                <string>{147,257}</string>
            </dict>
            <key>gun203fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1342},{129,255}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{129,255}}</string>
                <key>sourceSize</key>
                <string>{147,257}</string>
            </dict>
            <key>gun203idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1759},{126,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>gun203idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1},{126,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>gun203idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1},{126,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,151}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>gun203idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,610},{126,149}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>gun203idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1052},{126,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{126,147}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>gun203idle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1350},{126,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{126,145}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>gun203idle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,1201},{126,147}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{126,147}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>gun203idle7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,761},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>gun203idle8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,154},{126,151}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,151}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>gun203idle9.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,156},{126,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gunes.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89454d164f8d7e131096c32001af16d8:b446b716b9c1bdbd2546385241b48485:1fe5c84f5c0b2d6560950abe2d8051a1$</string>
            <key>textureFileName</key>
            <string>gunes.png</string>
        </dict>
    </dict>
</plist>
