<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>net_1</key>
			<dict>
				<key>delay</key>
				<real>0.02500</real>
				<key>frames</key>
				<array>
					<string>EffectBullet0Explode0.png</string>
					<string>EffectBullet0Explode1.png</string>
					<string>EffectBullet0Explode2.png</string>
					<string>EffectBullet0Explode3.png</string>
					<string>EffectBullet0Explode4.png</string>
					<string>EffectBullet0Explode5.png</string>
					<string>EffectBullet0Explode6.png</string>
					<string>EffectBullet0Explode7.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
