<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict>
			<key>fish_20_swim</key>
			<dict>
				<key>delay</key>
				<real>0.0500</real>
				<key>frames</key>
				<array>
					<string>muc-1.png</string>
					<string>muc-2.png</string>
					<string>muc-3.png</string>
					<string>muc-4.png</string>
					<string>muc-5.png</string>
					<string>muc-6.png</string>
					<string>muc-7.png</string>
					<string>muc-8.png</string>
					<string>muc-9.png</string>
					<string>muc-10.png</string>
					<string>muc-11.png</string>
					<string>muc-12.png</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
