<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duoi vang-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,138},{126,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,143}}</string>
                <key>sourceSize</key>
                <string>{126,143}</string>
            </dict>
            <key>duoi vang-1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,525},{123,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,125}}</string>
                <key>sourceSize</key>
                <string>{123,125}</string>
            </dict>
            <key>duoi vang-1-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,532},{123,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,124}}</string>
                <key>sourceSize</key>
                <string>{123,124}</string>
            </dict>
            <key>duoi vang-1-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,400},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>duoi vang-1-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,399},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>duoi vang-1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,134},{123,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,143}}</string>
                <key>sourceSize</key>
                <string>{123,143}</string>
            </dict>
            <key>fish_19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1},{178,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,126}}</string>
                <key>sourceSize</key>
                <string>{178,126}</string>
            </dict>
            <key>fish_19_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{178,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,131}}</string>
                <key>sourceSize</key>
                <string>{178,131}</string>
            </dict>
            <key>rua-4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,129},{135,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,151}}</string>
                <key>sourceSize</key>
                <string>{135,151}</string>
            </dict>
            <key>rua-4-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1},{135,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{135,144}}</string>
                <key>sourceSize</key>
                <string>{135,156}</string>
            </dict>
            <key>rua-4-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,395},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>rua-4-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{134,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,137}}</string>
                <key>sourceSize</key>
                <string>{134,137}</string>
            </dict>
            <key>tom-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,266},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>tom-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,266},{131,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,136}}</string>
                <key>sourceSize</key>
                <string>{131,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishes2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:995f0a91c1c90433ee30b58f63264bad:abef6557953f73be5699640f30615b04:3731752c1329bd02211ee4557cdf0953$</string>
            <key>textureFileName</key>
            <string>fishes2.png</string>
        </dict>
    </dict>
</plist>
