<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,319},{183,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,178}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>box003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,499},{183,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,178}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>box009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,890},{225,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{225,207}}</string>
                <key>sourceSize</key>
                <string>{227,207}</string>
            </dict>
            <key>box010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,679},{225,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{225,209}}</string>
                <key>sourceSize</key>
                <string>{227,209}</string>
            </dict>
            <key>bungto2-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1151},{213,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,226}}</string>
                <key>sourceSize</key>
                <string>{213,226}</string>
            </dict>
            <key>bungto2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1322},{216,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,248}}</string>
                <key>sourceSize</key>
                <string>{216,248}</string>
            </dict>
            <key>bungto2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1099},{221,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,249}}</string>
                <key>sourceSize</key>
                <string>{221,249}</string>
            </dict>
            <key>bungto2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1366},{223,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,243}}</string>
                <key>sourceSize</key>
                <string>{223,243}</string>
            </dict>
            <key>bungto2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1690},{219,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,231}}</string>
                <key>sourceSize</key>
                <string>{219,231}</string>
            </dict>
            <key>bungto2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1826},{214,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,221}}</string>
                <key>sourceSize</key>
                <string>{214,221}</string>
            </dict>
            <key>ca den pin-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,915},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ca den pin-1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,530},{65,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,40}}</string>
                <key>sourceSize</key>
                <string>{65,40}</string>
            </dict>
            <key>ca den pin-1-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,983},{65,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,41}}</string>
                <key>sourceSize</key>
                <string>{65,41}</string>
            </dict>
            <key>ca den pin-1-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,990},{65,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,41}}</string>
                <key>sourceSize</key>
                <string>{65,41}</string>
            </dict>
            <key>ca den pin-1-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,326},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>ca den pin-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,394},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>ca den pin-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,597},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>ca den pin-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1322},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>ca den pin-1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1033},{65,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,39}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>ca den pin-1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1074},{65,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,39}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>ca den pin-1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,462},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>ca den pin-2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1436},{74,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,45}}</string>
                <key>sourceSize</key>
                <string>{74,45}</string>
            </dict>
            <key>ca den pin-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1322},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ca den pin-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1322},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>ca den pin-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1874},{76,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,46}}</string>
                <key>sourceSize</key>
                <string>{76,46}</string>
            </dict>
            <key>ca den pin-3-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1436},{74,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,46}}</string>
                <key>sourceSize</key>
                <string>{74,46}</string>
            </dict>
            <key>ca vang-8-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,632},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>ca vang-8-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1102},{46,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,41}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>ca vang-8-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1561},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>ca vang-8-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1512},{47,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,38}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>ca vang-8-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1050},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>ca vang-8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1609},{52,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,37}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
            <key>ca vang-8-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1436},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,37}}</string>
                <key>sourceSize</key>
                <string>{49,37}</string>
            </dict>
            <key>caduoi-7-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1436},{202,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,253}}</string>
                <key>sourceSize</key>
                <string>{202,253}</string>
            </dict>
            <key>caduoi-7-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,1488},{200,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,207}}</string>
                <key>sourceSize</key>
                <string>{200,207}</string>
            </dict>
            <key>caduoi-7-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1488},{200,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,222}}</string>
                <key>sourceSize</key>
                <string>{200,222}</string>
            </dict>
            <key>cahoa-5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,636},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>cahoa-5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1615},{84,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>cahoa-5-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1070},{89,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,72}}</string>
                <key>sourceSize</key>
                <string>{89,72}</string>
            </dict>
            <key>cahoa-5-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,997},{90,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,71}}</string>
                <key>sourceSize</key>
                <string>{90,71}</string>
            </dict>
            <key>cahoa-5-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1218},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>cahoa-5-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1734},{86,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,68}</string>
            </dict>
            <key>cahoa-5-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,710},{81,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,67}}</string>
                <key>sourceSize</key>
                <string>{81,67}</string>
            </dict>
            <key>cahoa-6-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1615},{87,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,73}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>cahoa-6-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1144},{89,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,72}}</string>
                <key>sourceSize</key>
                <string>{89,72}</string>
            </dict>
            <key>cahoa-6-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1804},{83,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{83,68}</string>
            </dict>
            <key>cahoa-6-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1289},{79,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,68}}</string>
                <key>sourceSize</key>
                <string>{79,68}</string>
            </dict>
            <key>duoi vang-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1923},{124,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,154}}</string>
                <key>sourceSize</key>
                <string>{124,154}</string>
            </dict>
            <key>duoi vang-1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,1923},{124,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,151}}</string>
                <key>sourceSize</key>
                <string>{124,151}</string>
            </dict>
            <key>fish_191_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1488},{200,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,125}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>fish_191_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1366},{207,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,120}}</string>
                <key>sourceSize</key>
                <string>{207,120}</string>
            </dict>
            <key>fish_221_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1170},{316,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,165}}</string>
                <key>sourceSize</key>
                <string>{316,165}</string>
            </dict>
            <key>fish_221_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,1151},{313,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,169}}</string>
                <key>sourceSize</key>
                <string>{313,169}</string>
            </dict>
            <key>fish_221_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1512},{314,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,177}}</string>
                <key>sourceSize</key>
                <string>{314,177}</string>
            </dict>
            <key>fish_221_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,1},{316,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,173}}</string>
                <key>sourceSize</key>
                <string>{316,173}</string>
            </dict>
            <key>fish_231_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1170},{357,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,264}}</string>
                <key>sourceSize</key>
                <string>{357,264}</string>
            </dict>
            <key>fish_231_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1425},{354,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,264}}</string>
                <key>sourceSize</key>
                <string>{354,264}</string>
            </dict>
            <key>fish_231_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1690},{351,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,264}}</string>
                <key>sourceSize</key>
                <string>{351,264}</string>
            </dict>
            <key>fish_231_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1691},{353,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,264}}</string>
                <key>sourceSize</key>
                <string>{353,264}</string>
            </dict>
            <key>fish_231_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1691},{354,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,264}}</string>
                <key>sourceSize</key>
                <string>{354,264}</string>
            </dict>
            <key>fish_231_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1691},{354,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,264}}</string>
                <key>sourceSize</key>
                <string>{354,264}</string>
            </dict>
            <key>fish_231_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1691},{354,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,264}}</string>
                <key>sourceSize</key>
                <string>{354,264}</string>
            </dict>
            <key>fish_231_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1159},{357,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,264}}</string>
                <key>sourceSize</key>
                <string>{357,264}</string>
            </dict>
            <key>fish_24_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1734},{197,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,156}}</string>
                <key>sourceSize</key>
                <string>{197,156}</string>
            </dict>
            <key>fish_24_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1322},{197,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,163}}</string>
                <key>sourceSize</key>
                <string>{197,163}</string>
            </dict>
            <key>fish_tcv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,614},{565,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{565,299}}</string>
                <key>sourceSize</key>
                <string>{567,299}</string>
            </dict>
            <key>fish_tcv10.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{622,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{622,323}}</string>
                <key>sourceSize</key>
                <string>{624,323}</string>
            </dict>
            <key>fish_tcv11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1},{615,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{615,314}}</string>
                <key>sourceSize</key>
                <string>{617,314}</string>
            </dict>
            <key>fish_tcv12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,317},{605,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{605,313}}</string>
                <key>sourceSize</key>
                <string>{607,313}</string>
            </dict>
            <key>fish_tcv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,636},{536,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{536,274}}</string>
                <key>sourceSize</key>
                <string>{536,276}</string>
            </dict>
            <key>fish_tcv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,915},{523,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{523,253}}</string>
                <key>sourceSize</key>
                <string>{525,255}</string>
            </dict>
            <key>fish_tcv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,912},{525,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{525,245}}</string>
                <key>sourceSize</key>
                <string>{527,247}</string>
            </dict>
            <key>fish_tcv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,898},{540,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{540,251}}</string>
                <key>sourceSize</key>
                <string>{542,253}</string>
            </dict>
            <key>fish_tcv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,632},{564,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{564,264}}</string>
                <key>sourceSize</key>
                <string>{566,266}</string>
            </dict>
            <key>fish_tcv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,326},{591,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{591,286}}</string>
                <key>sourceSize</key>
                <string>{591,288}</string>
            </dict>
            <key>fish_tcv8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,325},{619,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{619,309}}</string>
                <key>sourceSize</key>
                <string>{621,311}</string>
            </dict>
            <key>fish_tcv9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{630,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{630,322}}</string>
                <key>sourceSize</key>
                <string>{630,324}</string>
            </dict>
            <key>kemo-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,665},{107,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>kemo-1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,779},{107,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,80}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>kemo-1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1230},{107,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{107,77}</string>
            </dict>
            <key>kemo-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,774},{106,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,65}}</string>
                <key>sourceSize</key>
                <string>{106,65}</string>
            </dict>
            <key>kemo-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1150},{107,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{107,78}</string>
            </dict>
            <key>kemo-2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1933},{107,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{107,77}</string>
            </dict>
            <key>kemo-3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,882},{106,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,65}}</string>
                <key>sourceSize</key>
                <string>{106,65}</string>
            </dict>
            <key>kemo-3-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,888},{107,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,80}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>kemo-3-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,1933},{107,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{107,77}</string>
            </dict>
            <key>muc-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1684},{247,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,140}}</string>
                <key>sourceSize</key>
                <string>{247,140}</string>
            </dict>
            <key>muc-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1591},{244,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,141}}</string>
                <key>sourceSize</key>
                <string>{244,141}</string>
            </dict>
            <key>muc-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1370},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>muc-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1540},{248,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,142}}</string>
                <key>sourceSize</key>
                <string>{248,142}</string>
            </dict>
            <key>sua-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1159},{209,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,165}}</string>
                <key>sourceSize</key>
                <string>{209,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishes0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:995f0a91c1c90433ee30b58f63264bad:abef6557953f73be5699640f30615b04:3731752c1329bd02211ee4557cdf0953$</string>
            <key>textureFileName</key>
            <string>fishes0.png</string>
        </dict>
    </dict>
</plist>
